Repository bilby91/stack, changes with the labels that .github/labeler.yml gives for each.
All labels: libs, openapi, sdks, github, components/fctl, components/ledger, components/operator, components/payments, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks

.github/labeler.yml:

libs:
  - changed-files:
    - any-glob-to-any-file: "libs/*"
openapi:
  - changed-files:
    - any-glob-to-any-file: "openapi/*"
sdks:
  - changed-files:
    - any-glob-to-any-file: "sdks/*"
github:
  - changed-files:
    - any-glob-to-any-file: ".github/*"

# Apps
'components/fctl':
  - changed-files:
    - any-glob-to-any-file: "components/fctl/*"
'components/ledger':
  - changed-files:
    - any-glob-to-any-file: "components/ledger/*"
'components/operator':
  - changed-files:
    - any-glob-to-any-file: "components/operator/*"
'components/payments':
  - changed-files:
    - any-glob-to-any-file: "components/payments/*"

# EE
'ee/agent':
  - changed-files:
    - any-glob-to-any-file: "ee/agent/*"
'ee/auth':
  - changed-files:
    - any-glob-to-any-file: "ee/auth/*"
'ee/gateway':
  - changed-files:
    - any-glob-to-any-file: "ee/gateway/*"
'ee/orchestration':
  - changed-files:
    - any-glob-to-any-file: "ee/orchestration/*"
'ee/search':
  - changed-files:
    - any-glob-to-any-file: "ee/search/*"
'ee/stargate':
  - changed-files:
    - any-glob-to-any-file: "ee/stargate/*"
'ee/wallets':
  - changed-files:
    - any-glob-to-any-file: "ee/wallets/*"
'ee/webhooks':
  - changed-files:
    - any-glob-to-any-file: "ee/webhooks/*"

wip
  components/fctl/go.mod
  components/fctl/go.sum
  components/ledger/go.mod
  components/ledger/go.sum
  components/operator/go.mod
  components/operator/go.sum
  components/operator/tools/kubectl-stacks/go.mod
  components/operator/tools/kubectl-stacks/go.sum
  components/operator/tools/utils/go.mod
  components/operator/tools/utils/go.sum
  components/payments/go.mod
  components/payments/go.sum
  libs/go-libs/go.mod
  libs/go-libs/go.sum
Labels: components/fctl, components/ledger, components/operator, components/payments

wip
  Earthfile
  components/operator/internal/resources/payments/init.go
Labels: none

wip
  components/Earthfile
  components/fctl/Earthfile
  components/ledger/Earthfile
  components/operator/Earthfile
  components/operator/tools/kubectl-stacks/Earthfile
  components/operator/tools/utils/Earthfile
  components/payments/Earthfile
  ee/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/Earthfile
  helm/demo/Earthfile
  helm/libs/Earthfile
  helm/regions/Earthfile
  libs/Earthfile
  libs/core/Earthfile
  libs/events/Earthfile
  libs/go-libs/Earthfile
  releases/Earthfile
  tests/benchmarks/Earthfile
  tests/integration/Earthfile
Labels: libs, components/fctl, components/ledger, components/operator, components/payments, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks

wip
  components/operator/internal/resources/payments/deployments.go
  components/operator/internal/resources/payments/init.go
  components/payments/Earthfile
  components/payments/cmd/root.go
  components/payments/internal/connectors/engine/module.go
  components/payments/internal/connectors/plugins/public/template/plugin.go
  components/payments/internal/storage/migrations/0-init-schema.sql
Labels: components/payments

fix: create
  components/fctl/cmd/stack/create.go
Labels: none

chore: remove-dead-code
  components/ledger/internal/machine/script/compiler/source.go
Labels: none

feat: make licence secret referencable
  components/operator/helm/operator/templates/deployment.yaml
  components/operator/helm/operator/templates/licence-secret.yaml
  components/operator/helm/operator/values.yaml
  helm/regions/values.yaml
Labels: none

feat: introduce balances table
  components/ledger/internal/controller/ledger/writer/store.go
  components/ledger/internal/controller/ledger/writer/writer.go
  components/ledger/internal/storage/bucket/migrations/11-stateless.sql
  components/ledger/internal/storage/ledger/balances.go
  components/ledger/internal/storage/ledger/balances_test.go
  components/ledger/internal/storage/ledger/moves.go
  components/ledger/test/performance/report_after_pcv
  components/ledger/test/performance/report_before_pcv
  tests/integration/go.mod
  tests/integration/go.sum
Labels: none
