Repository bilby91/stack, changes with the labels that .github/labeler.yml gives for each.
All labels: libs, openapi, sdks, github, components/fctl, components/ledger, components/operator, components/payments, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks

.github/labeler.yml:

libs:
  - changed-files:
    - any-glob-to-any-file: "libs/*"
openapi:
  - changed-files:
    - any-glob-to-any-file: "openapi/*"
sdks:
  - changed-files:
    - any-glob-to-any-file: "sdks/*"
github:
  - changed-files:
    - any-glob-to-any-file: ".github/*"

# Apps
'components/fctl':
  - changed-files:
    - any-glob-to-any-file: "components/fctl/*"
'components/ledger':
  - changed-files:
    - any-glob-to-any-file: "components/ledger/*"
'components/operator':
  - changed-files:
    - any-glob-to-any-file: "components/operator/*"
'components/payments':
  - changed-files:
    - any-glob-to-any-file: "components/payments/*"

# EE
'ee/agent':
  - changed-files:
    - any-glob-to-any-file: "ee/agent/*"
'ee/auth':
  - changed-files:
    - any-glob-to-any-file: "ee/auth/*"
'ee/gateway':
  - changed-files:
    - any-glob-to-any-file: "ee/gateway/*"
'ee/orchestration':
  - changed-files:
    - any-glob-to-any-file: "ee/orchestration/*"
'ee/search':
  - changed-files:
    - any-glob-to-any-file: "ee/search/*"
'ee/stargate':
  - changed-files:
    - any-glob-to-any-file: "ee/stargate/*"
'ee/wallets':
  - changed-files:
    - any-glob-to-any-file: "ee/wallets/*"
'ee/webhooks':
  - changed-files:
    - any-glob-to-any-file: "ee/webhooks/*"

feat: add command upgrade stack
  components/fctl/cmd/stack/root.go
  components/fctl/cmd/stack/update.go
  components/fctl/cmd/stack/upgrade.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/StackData.md
  components/fctl/membershipclient/docs/StackVersion.md
  components/fctl/membershipclient/docs/UpdateStackRequest.md
  components/fctl/membershipclient/model_stack_data.go
  components/fctl/membershipclient/model_stack_version.go
  components/fctl/membershipclient/model_update_stack_request.go
Labels: components/fctl

fix: range args
  components/fctl/cmd/stack/upgrade.go
Labels: none

feat: add command update stack
  components/fctl/cmd/stack/root.go
  components/fctl/cmd/stack/update.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/UpdateStackRequest.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_update_stack_request.go
Labels: components/fctl

feat: handle retro compatibility for v0.27.0
  components/fctl/cmd/stack/create.go
  components/fctl/cmd/stack/upgrade.go
  components/fctl/cmd/stack/users/root.go
Labels: none

fix: open-api request return
  components/fctl/cmd/stack/update.go
  components/fctl/cmd/stack/upgrade.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
Labels: components/fctl

feat: add disclaimer
  components/fctl/cmd/stack/update.go
Labels: none

feat: checking the status of the stack through membership
  components/fctl/cmd/stack/controller.go
  components/fctl/cmd/stack/create.go
  components/fctl/cmd/stack/restore.go
  components/fctl/cmd/stack/upgrade.go
Labels: none

feat: deploy in target buildkit cluster
  Earthfile
  components/operator/Earthfile
Labels: components/operator

feat: deploy in target buildkit cluster
  tools/k3d/integration/config.yaml
Labels: none

feat: export nats funcs
  components/ledger/libs/publish/nats.go
  libs/go-libs/publish/nats.go
Labels: none

feat: export
  libs/go-libs/publish/nats.go
Labels: none

feat: iam for search, benthos, and operator configuration
  components/operator/internal/resources/benthos/controller.go
  components/operator/internal/resources/searches/controller.go
  ee/search/benthos/resources/output_elasticsearch.yaml
  ee/search/cmd/init_mapping.go
  ee/search/cmd/root.go
  ee/search/cmd/serve.go
  ee/search/cmd/update_mapping.go
  ee/search/go.mod
  ee/search/go.sum
Labels: ee/search

feat: generate grpc with earth base + function
  ee/agent/Earthfile
Labels: ee/agent

feat: rename proto file to be unique
  ee/agent/Earthfile
  ee/agent/agent.proto
Labels: ee/agent

feat: change format
  libs/go-libs/service/logging.go
Labels: none

feat: change format
  libs/go-libs/service/logging.go
Labels: none

chore(openapi): Add more tags for OpenAPI
  Earthfile
  components/payments/openapi.yaml
  ee/orchestration/openapi.yaml
  ee/orchestration/openapi/v1.yaml
  ee/orchestration/openapi/v2.yaml
  ee/reconciliation/openapi.yaml
  releases/base.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/README.md
  releases/sdks/go/docs/pkg/models/operations/orchestrationgetserverinforesponse.md
  releases/sdks/go/docs/pkg/models/operations/reconciliationgetserverinforesponse.md
  releases/sdks/go/docs/pkg/models/operations/v2getserverinforesponse.md
  releases/sdks/go/docs/pkg/models/shared/v2serverinfo.md
  releases/sdks/go/docs/sdks/orchestration/README.md
  releases/sdks/go/docs/sdks/reconciliation/README.md
  releases/sdks/go/orchestration.go
  releases/sdks/go/pkg/models/operations/orchestrationgetserverinfo.go
  releases/sdks/go/pkg/models/operations/reconciliationgetserverinfo.go
  releases/sdks/go/pkg/models/operations/v2getserverinfo.go
  releases/sdks/go/pkg/models/shared/v2serverinfo.go
  releases/sdks/go/reconciliation.go
Labels: components/payments, ee/orchestration

chore(operator): outdated documentation
  components/operator/README.md
Labels: components/operator

feat: install one shot, change namespace, use crd directory
  components/operator/Earthfile
  components/operator/config/default/kustomization.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_authclients.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_auths.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_benthos.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_benthosstreams.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_brokerconsumers.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_brokertopics.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_configurations.stack.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_databases.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_gatewayhttpapis.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_gateways.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_ledgers.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_migrations.stack.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_orchestrations.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_payments.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_reconciliations.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_resourcereferences.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_searches.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_settings.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_stacks.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_stacks.stack.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_stargates.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_versions.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_versions.stack.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_wallets.formance.com.yaml
  components/operator/helm/crds/apiextensions.k8s.io_v1_customresourcedefinition_webhooks.formance.com.yaml
  components/operator/helm/templates/gen/rbac.authorization.k8s.io_v1_clusterrolebinding_manager-rolebinding.yaml
  components/operator/helm/templates/gen/rbac.authorization.k8s.io_v1_clusterrolebinding_proxy-rolebinding.yaml
  components/operator/helm/templates/gen/rbac.authorization.k8s.io_v1_role_leader-election-role.yaml
  components/operator/helm/templates/gen/rbac.authorization.k8s.io_v1_rolebinding_leader-election-rolebinding.yaml
  components/operator/helm/templates/gen/v1_service_controller-manager-metrics-service.yaml
  components/operator/helm/templates/gen/v1_serviceaccount_controller-manager.yaml
  helm/regions/templates/versions.yaml
Labels: components/operator

feat: enable licence
  components/operator/internal/resources/licence/licence.go
Labels: none

feat(operator): import doc from dedicated repository and add crd generation
  components/operator/Earthfile
  components/operator/docs/01-Requirements.md
  components/operator/docs/02-Installation.md
  components/operator/docs/03-Demo deployment.md
  components/operator/docs/04-Modules/01-Stack.md
  components/operator/docs/04-Modules/02-Gateway.md
  components/operator/docs/04-Modules/03-Ledger.md
  components/operator/docs/04-Modules/04-Payments.md
  components/operator/docs/04-Modules/05-Auth.md
  components/operator/docs/04-Modules/06-Orchestration.md
  components/operator/docs/04-Modules/07-Search.md
  components/operator/docs/04-Modules/08-Reconciliation.md
  components/operator/docs/04-Modules/09-Wallets.md
  components/operator/docs/04-Modules/10-Webhooks.md
  components/operator/docs/05-Infrastructure services/01-PostgreSQL.md
  components/operator/docs/05-Infrastructure services/02-Message broker.md
  components/operator/docs/05-Infrastructure services/03-Elasticsearch.md
  components/operator/docs/05-Infrastructure services/04-Temporal.md
  components/operator/docs/06-Observability/01-Configure OpenTelemetry.md
  components/operator/docs/07-Upgrade/01-Upgrade from the operator.md
  components/operator/docs/07-Upgrade/02-Database update.md
  components/operator/docs/08-Troubleshooting.md
  components/operator/docs/09-Configuration reference/01-Settings.md
  components/operator/docs/09-Configuration reference/02-Custom Resource Definitions.md
Labels: components/operator

fix(operator): broken links
  components/operator/api/formance.com/v1beta1/auth_types.go
  components/operator/api/formance.com/v1beta1/settings_types.go
  components/operator/config/crd/bases/formance.com_auths.yaml
  components/operator/config/crd/bases/formance.com_settings.yaml
  components/operator/crd-doc-templates/type.tpl
  components/operator/docs/04-Modules/07-Search.md
  components/operator/docs/09-Configuration reference/02-Custom Resource Definitions.md
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_auths.formance.com.yaml
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_settings.formance.com.yaml
Labels: none

Revert "fix(operator): broken links (#1546)"
  components/operator/api/formance.com/v1beta1/auth_types.go
  components/operator/api/formance.com/v1beta1/settings_types.go
  components/operator/config/crd/bases/formance.com_auths.yaml
  components/operator/config/crd/bases/formance.com_settings.yaml
  components/operator/crd-doc-templates/type.tpl
  components/operator/docs/09-Configuration reference/02-Custom Resource Definitions.md
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_auths.formance.com.yaml
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_settings.formance.com.yaml
Labels: none

feat: add antithesis sdk
  components/ledger/go.mod
  components/ledger/go.sum
Labels: components/ledger

wip: add simple assertion
  components/ledger/internal/engine/command/commander.go
Labels: none

fix: txid assertion
  components/ledger/internal/engine/command/commander.go
Labels: none

fix: data race
  components/ledger/internal/engine/command/commander.go
Labels: none

fix: data race
  components/ledger/internal/engine/command/commander.go
Labels: none

fix: remove assertion
  components/ledger/internal/engine/command/commander.go
Labels: none

feat: update crds dir path
  components/operator/Earthfile
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_analytics.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_authclients.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_auths.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_benthos.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_benthosstreams.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_brokerconsumers.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_brokers.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_brokertopics.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_configurations.stack.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_databases.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_gatewayhttpapis.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_gateways.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_ledgers.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_migrations.stack.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_orchestrations.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_payments.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_reconciliations.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_resourcereferences.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_searches.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_settings.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_stacks.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_stacks.stack.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_stargates.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_versions.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_versions.stack.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_wallets.formance.com.yaml
  components/operator/helm/crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_webhooks.formance.com.yaml
Labels: components/operator

wip
  components/paymentsv3/Earthfile
  components/paymentsv3/go.mod
  components/paymentsv3/internal/currency/amount.go
  components/paymentsv3/internal/currency/amount_test.go
  components/paymentsv3/internal/currency/currency.go
  components/paymentsv3/internal/grpc/grpc.go
  components/paymentsv3/internal/grpc/proto/account.pb.go
  components/paymentsv3/internal/grpc/proto/account.proto
  components/paymentsv3/internal/grpc/proto/capability.pb.go
  components/paymentsv3/internal/grpc/proto/capability.proto
  components/paymentsv3/internal/grpc/proto/monetary.pb.go
  components/paymentsv3/internal/grpc/proto/monetary.proto
  components/paymentsv3/internal/grpc/proto/payment.pb.go
  components/paymentsv3/internal/grpc/proto/payment.proto
  components/paymentsv3/internal/grpc/proto/services/plugin.pb.go
  components/paymentsv3/internal/grpc/proto/services/plugin.proto
  components/paymentsv3/internal/grpc/proto/services/plugin_grpc.pb.go
  components/paymentsv3/internal/grpc/proto/workflow.pb.go
  components/paymentsv3/internal/grpc/proto/workflow.proto
  components/paymentsv3/internal/models/payment.go
  components/paymentsv3/internal/plugins/models/accounts.go
  components/paymentsv3/internal/plugins/models/capabilities.go
  components/paymentsv3/internal/plugins/models/payments.go
  components/paymentsv3/internal/plugins/models/plugin.go
  components/paymentsv3/internal/plugins/models/workflow.go
  components/paymentsv3/internal/plugins/public/moneycorp/accounts.go
  components/paymentsv3/internal/plugins/public/moneycorp/capabilities.go
  components/paymentsv3/internal/plugins/public/moneycorp/client/accounts.go
  components/paymentsv3/internal/plugins/public/moneycorp/client/auth.go
  components/paymentsv3/internal/plugins/public/moneycorp/client/client.go
  components/paymentsv3/internal/plugins/public/moneycorp/client/error.go
  components/paymentsv3/internal/plugins/public/moneycorp/client/transactions.go
  components/paymentsv3/internal/plugins/public/moneycorp/config.go
  components/paymentsv3/internal/plugins/public/moneycorp/currencies.go
  components/paymentsv3/internal/plugins/public/moneycorp/main.go
  components/paymentsv3/internal/plugins/public/moneycorp/payments.go
  components/paymentsv3/internal/plugins/public/moneycorp/plugin.go
  components/paymentsv3/internal/plugins/public/moneycorp/workflow.go
  components/paymentsv3/internal/plugins/public/template/plugin.go
  components/paymentsv3/internal/utils/ptr.go
Labels: none

fix: unrequired field
  components/fctl/membership-swagger.yaml
Labels: components/fctl

fix: regenerate sdk
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/InvitationClaim.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_invitation_claim.go
Labels: none

fix: wording
  components/fctl/cmd/cloud/organizations/invitations/send.go
Labels: none

wip
  components/paymentsv3/internal/engine/activities/activity.go
  components/paymentsv3/internal/engine/activities/fetch_next_accounts.go
  components/paymentsv3/internal/engine/activities/fetch_next_others.go
  components/paymentsv3/internal/engine/activities/fetch_next_payments.go
  components/paymentsv3/internal/engine/workflow/fetch_accounts.go
  components/paymentsv3/internal/grpc/grpc_server.go
  components/paymentsv3/internal/grpc/interfaces.go
  components/paymentsv3/internal/grpc/proto/capability.pb.go
  components/paymentsv3/internal/grpc/proto/capability.proto
  components/paymentsv3/internal/grpc/proto/workflow.pb.go
  components/paymentsv3/internal/grpc/proto/workflow.proto
  components/paymentsv3/internal/models/accounts.go
  components/paymentsv3/internal/models/capabilities.go
  components/paymentsv3/internal/models/connector.go
  components/paymentsv3/internal/models/errors.go
  components/paymentsv3/internal/models/payments.go
  components/paymentsv3/internal/models/plugin.go
  components/paymentsv3/internal/models/workflow.go
  components/paymentsv3/internal/plugins/models/accounts.go
  components/paymentsv3/internal/plugins/public/moneycorp/accounts.go
  components/paymentsv3/internal/plugins/public/moneycorp/capabilities.go
  components/paymentsv3/internal/plugins/public/moneycorp/client/recipients.go
  components/paymentsv3/internal/plugins/public/moneycorp/config.go
  components/paymentsv3/internal/plugins/public/moneycorp/external_accounts.go
  components/paymentsv3/internal/plugins/public/moneycorp/payments.go
  components/paymentsv3/internal/plugins/public/moneycorp/plugin.go
  components/paymentsv3/internal/plugins/public/moneycorp/workflow.go
  components/paymentsv3/internal/storage/storage.go
Labels: none

wip
  components/paymentsv3/internal/engine/activities/activity.go
  components/paymentsv3/internal/temporal/worker/module.go
  ee/orchestration/cmd/root.go
  ee/orchestration/cmd/worker.go
  ee/orchestration/internal/api/v1/main_test.go
  ee/orchestration/internal/api/v2/main_test.go
  ee/orchestration/internal/temporalclient/search_attributes.go
  ee/orchestration/internal/triggers/activities.go
  ee/orchestration/internal/triggers/module.go
  ee/orchestration/internal/triggers/workflow_trigger.go
  ee/orchestration/internal/triggers/workflow_trigger_test.go
  ee/orchestration/internal/workflow/activities.go
  ee/orchestration/internal/workflow/activities/activity.go
  ee/orchestration/internal/workflow/manager_test.go
  ee/orchestration/internal/workflow/module.go
  ee/orchestration/internal/workflow/run.go
  libs/go-libs/temporal/client_module.go
  libs/go-libs/temporal/logger.go
  libs/go-libs/temporal/worker.go
Labels: none

wip
  ee/orchestration/cmd/root.go
  ee/orchestration/cmd/serve.go
  ee/orchestration/cmd/worker.go
  libs/go-libs/temporal/cli.go
  libs/go-libs/temporal/client_module.go
Labels: none

wip
  components/paymentsv3/internal/engine/activities/fetch_next_external_accounts.go
  components/paymentsv3/internal/engine/workflow/fetch_accounts.go
  components/paymentsv3/internal/engine/workflow/fetch_external_accounts.go
  components/paymentsv3/internal/engine/workflow/fetch_others.go
  components/paymentsv3/internal/engine/workflow/plugin_workflow.go
  components/paymentsv3/internal/engine/workflow/workflow.go
  components/paymentsv3/internal/grpc/grpc_client.go
  components/paymentsv3/internal/grpc/grpc_server.go
  components/paymentsv3/internal/grpc/proto/services/plugin.pb.go
  components/paymentsv3/internal/grpc/proto/services/plugin.proto
  components/paymentsv3/internal/grpc/proto/services/plugin_grpc.pb.go
  components/paymentsv3/internal/models/workflow.go
  components/paymentsv3/internal/plugins/public/moneycorp/plugin.go
  components/paymentsv3/internal/plugins/public/moneycorp/workflow.go
Labels: none

wip
  components/paymentsv3/cmd/all-in-one.go
  components/paymentsv3/cmd/api.go
  components/paymentsv3/cmd/connectors.go
  components/paymentsv3/cmd/migrate.go
  components/paymentsv3/cmd/root.go
  components/paymentsv3/cmd/version.go
  components/paymentsv3/internal/grpc/grpc_server.go
  components/paymentsv3/internal/models/accounts.go
  components/paymentsv3/internal/models/connector.go
  components/paymentsv3/internal/models/payments.go
  components/paymentsv3/internal/models/plugin.go
  components/paymentsv3/internal/plugins/public/moneycorp/accounts.go
  components/paymentsv3/internal/plugins/public/moneycorp/external_accounts.go
  components/paymentsv3/internal/plugins/public/moneycorp/payments.go
  components/paymentsv3/internal/storage/accounts.go
  components/paymentsv3/internal/storage/connectors.go
  components/paymentsv3/internal/storage/error.go
  components/paymentsv3/internal/storage/module.go
  components/paymentsv3/internal/storage/paginate.go
  components/paymentsv3/internal/storage/payments.go
  components/paymentsv3/internal/storage/storage.go
  components/paymentsv3/internal/storage/utils.go
Labels: none

wip
  components/paymentsv3/internal/engine/activities/activity.go
  components/paymentsv3/internal/engine/activities/fetch_state.go
  components/paymentsv3/internal/engine/activities/store_accounts.go
  components/paymentsv3/internal/engine/activities/store_payments.go
  components/paymentsv3/internal/engine/activities/store_state.go
  components/paymentsv3/internal/engine/activities/store_tasks_tree.go
  components/paymentsv3/internal/engine/workflow/context.go
  components/paymentsv3/internal/engine/workflow/fetch_accounts.go
  components/paymentsv3/internal/engine/workflow/fetch_external_accounts.go
  components/paymentsv3/internal/engine/workflow/fetch_others.go
  components/paymentsv3/internal/engine/workflow/fetch_payments.go
  components/paymentsv3/internal/engine/workflow/plugin_workflow.go
  components/paymentsv3/internal/models/accounts.go
  components/paymentsv3/internal/models/config.go
  components/paymentsv3/internal/models/payments.go
  components/paymentsv3/internal/models/state.go
  components/paymentsv3/internal/storage/state.go
  components/paymentsv3/internal/storage/storage.go
  components/paymentsv3/internal/storage/workflow.go
Labels: none
